<div class="pageTitle">
  <h1>Update Existing Customer</h1>
  </div

  <div class="pageContents">
    <form method="post" action="/customers/<%=@customer.id%>/update">
      <div class="formRow">
        <label for="first_name">First Name:</label>
        <input id="first_name" type="text" name="first_name" value="<%=@customer.first_name%>"/>
      </div>
      <div class="formRow">
        <label for="last_name">Last Name:</label>
        <input id="last_name" type="text" name="last_name" value="<%=@customer.last_name%>"/>
      </div>
      <div class="formRow">
        <label for="email">Email:</label>
        <input id="email" type ="text" name="email" value="<%=@customer.email%>"/>
      </div>
      <div class="formRow">
        <label for="tel_number">Tel:</label>
        <input id="tel_number" type ="number" name="tel_number" value="<%=@customer.tel_number%>"/>
      </div>
      <div class="formRow">
        <input type="submit" value="Submit Updates"/>
      </div>
    </form>
  </div>
