<div class="pageTitle">
  <h1>All Rentals</h1>
</div>

<div class="pageContents">

  <% for rental in @rented_stock %>
  <p>Type: <%= rental.type  %></p>
  <p>Colour: <%= rental.colour %></p>
  <p>Rental Price: £<%= rental.price %></p>
  <p><a href="/customers/<%= rental.rented_customer_id %>">View Customer</a></p>

  <form method="post" action="/stock/<%= rental.id %>/return">
    <input type="submit" value="Return Item To Stock">
  </form>

  <% end %>
</div>
